<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-horizontal">
    <div class="form-group row">
    <label  class="col-xs-2 control-label">タイトル：</label>
    <div class="col-xs-6"><input  class="form-control"  type="text" value="<%= article.title %>" name="article[title]" id="article_title" /></div>
    </div>

    <div class="form-group row">
    <label  class="col-xs-2 control-label">記事カテゴリ：</label>
      <%= f.collection_select(:category,  Category.all, :id, :category) do |s| %>
        <%= s.label :category %>
      <% end %>
    </div>

    <div class="form-group row">
    <label  class="col-xs-2 control-label">リンク：</label>
    <div class="col-xs-6"><input  class="form-control"  type="text" value="<%= article.link %>" name="article[link]" id="article_link" /></div>
    </div>

    <div class="form-group row">
   <label  class="col-xs-2 control-label"> イメージリンク：</label>
    <div class="col-xs-6"><input  class="form-control"  type="text" value="<%= article.img_dir %>" name="article[img_dir]" id="article_img_dir" /></div>
    </div>

    <div class="form-group row">
    <label  class="col-xs-2 control-label">表示日時：</label>
    <div class="form-control-static"><%= f.datetime_select :display_at , {:class => "form-aaa"} %></div>
    </div>

    <div class="form-group row">
    <label  class="col-xs-2 control-label">公開ステータス：</label>
      <%= f.collection_radio_buttons(:status,  Status.all, :id, :status) do |b| %>
        <%= b.label {b.radio_button + b.text} %>
      <% end %>
    </div>

    <div class="form-group row">
    <label  class="col-xs-2 control-label">本文：</label>
    <div class="col-sm-10">
      <textarea  name="article[body]" class="form-control"  id="article_body" rows="5"><%= article.body %></textarea>
    </div>
    </div>

</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
