<p id="notice"><%= notice %></p>

<div class="form-horizontal">

  <label  class="col-xs-2 control-label">タイトル：</label>
  <p class="form-control-static"><%= @article.title %></p>

  <label  class="col-xs-2 control-label">本文：</label>
  <p class="form-control-static"><%= @article.body %></p>

  <label  class="col-xs-2 control-label">公開ステータス：</label>
  <p class="form-control-static"><%= @article.status %></p>

  <label  class="col-xs-2 control-label">記事カテゴリー：</label>
  <p class="form-control-static"><%= @article.category %></p>

  <label  class="col-xs-2 control-label">リンク：</label>
  <p class="form-control-static"><%= @article.link %></p>

  <label  class="col-xs-2 control-label">イメージ：</label>
  <p class="form-control-static"><%= @article.img_dir %></p>

  <label  class="col-xs-2 control-label">表示日時：</label>
  <p class="form-control-static"><%= @article.display_at %></p>

</div>

<br>

<div type="button" class="btn btn-warning"><%= link_to '編集', edit_article_path(@article) %></div>
<div type="button" class="btn btn-primary"><%= link_to '戻る', articles_path %></div>
